<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="gst"
            id="groove.file.gst"
            name="Groove Start Graph"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="gpr"
            id="groove.file.gpr"
            name="Groove Production Rule"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="groove.gui.EclipseGraphViewer"
            default="false"
            icon="icons/groove-blue-g-16x16.gif"
            id="groove.eclipse.ui.editor.graph"
            name="Graph Viewer">
         <contentTypeBinding
               contentTypeId="groove.file.gst">
         </contentTypeBinding>
      </editor>
      <editor
            default="true"
            icon="icons/rule-file.gif"
            id="groove.eclipse.ui.gpreditor"
            launcher="groove.gui.eclipse.actions.EditorAction"
            name="Groove Rule Editor">
         <contentTypeBinding
               contentTypeId="groove.file.gpr">
         </contentTypeBinding>
      </editor>
      <editor
            default="true"
            icon="icons/graph-file.gif"
            id="groove.eclipse.ui.gsteditor"
            launcher="groove.gui.eclipse.actions.EditorAction"
            name="Graph Editor">
         <contentTypeBinding
               contentTypeId="groove.file.gst">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="groove.eclipse.ui.actionSet"
            label="Groove"
            visible="true">
         <menu
               id="grooveMenu"
               label="&amp;TAF">
            <separator
                  name="grooveGroup">
            </separator>
            <separator
                  name="additionsGroup">
            </separator>
         </menu>
         <action
               class="groove.gui.eclipse.actions.SimulatorAction"
               icon="icons/groove-green-g-16x16.gif"
               id="groove.gui.eclipse.actions.SimulatorAction"
               label="&amp;Simulator"
               menubarPath="grooveMenu/grooveGroup"
               toolbarPath="grooveGroup"
               tooltip="Start the Groove Simulator">
         </action>
         <action
               class="groove.gui.eclipse.actions.EditorAction"
               enablesFor="?"
               icon="icons/groove-blue-g-16x16.gif"
               id="groove.gui.eclipse.actions.EditorAction"
               label="&amp;Editor"
               menubarPath="grooveMenu/grooveGroup"
               toolbarPath="grooveGroup"
               tooltip="Start the Groove Editor">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="groove.gui.eclipse.GpsDecorator"
            icon="icons/gps.gif"
            id="groove.eclipse.ui.decorator.gps"
            label="Groove Production System"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <description>
            Replaces the icon in the navigator for Groove Production Systems
         </description>
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFolder">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="groove.gui.eclipse.GprDecorator"
            id="groove.eclipse.ui.decorator.gpr"
            label="Groove Production Rule"
            lightweight="true"
            state="true">
         <description>
            Shows additional information about Groove Production Rules in the navigator
         </description>
         <enablement>
            <objectState
                  name="contentTypeId"
                  value="groove.file.gpr">
            </objectState>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            pattern="*.gp?.gl"
            selected="true">
         <description>
            Graph layout configuration
         </description>
      </filter>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            description="Hide the graph layout configuration created by the Groove graph editor"
            enabled="true"
            name="Graph layout configuration"
            pattern="*.gp?.gl"></filter>
   </extension>

</plugin>
