<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="trese.tracing.ui"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="trese.tracing.ui.popup"
               label="xADL+GFT"
               path="additions">
            <groupMarker
                  name="group1">
            </groupMarker>
         </menu>
         <action
               class="trese.tracing.ui.popup.ExportGFTxADL"
               enablesFor="2"
               id="trese.tracing.ui.export.gftxadl"
               label="Create combined graph"
               menubarPath="trese.tracing.ui.popup/group1"
               tooltip="Create a combined Groove graph from xADL and GFT">
         </action>
         <visibility>
            <or>
               <objectState
                     name="contentTypeId"
                     value="edu.uci.isr.archstudio4.xadlContentBinding">
               </objectState>
               <objectState
                     name="contentTypeId"
                     value="trese.featuremodel.gft">
               </objectState>
            </or>
         </visibility>
      </objectContribution>
   </extension>

</plugin>
