<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="trese.archmodel.ui.xadl2gst"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="trese.archmodel.ui.archstudio"
               label="ArchStudio"
               path="additions">
            <separator
                  name="group1">
            </separator>
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               class="trese.archmodel.ui.popup.actions.ExportGST"
               enablesFor="+"
               id="trese.archmodel.ui.export.gst"
               label="Export all structures"
               menubarPath="trese.archmodel.ui.archstudio/group1"
               tooltip="Export the whole document to a Groove GST">
         </action>
         <action
               class="trese.archmodel.ui.popup.actions.ExportGSTRestrict"
               enablesFor="+"
               id="trese.archmodel.ui.export.gst.restrict"
               label="Export selected structures..."
               menubarPath="trese.archmodel.ui.archstudio/group1"
               tooltip="Export a subset of the architectures to a Groove GST">
         </action>
         <action
               class="trese.archmodel.ui.popup.actions.DRWizard"
               enablesFor="1"
               id="trese.archmodel.ui.designrationale"
               label="Design Ratonale..."
               menubarPath="trese.archmodel.ui.archstudio/group2"
               tooltip="Apply a design rationale on this architecture">
         </action>
         <visibility>
            <objectState
                  name="contentTypeId"
                  value="edu.uci.isr.archstudio4.xadlContentBinding">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="trese.archmodel.dr.ui.DREditor"
            default="false"
            id="trese.archmodel.dr.ui.editor"
            name="Design Rationale">
         <contentTypeBinding
               contentTypeId="edu.uci.isr.archstudio4.xadlContentBinding">
         </contentTypeBinding>
      </editor>
   </extension>

</plugin>
