<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="trese.arch.tracing.ui.xadl2gst"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="trese.arch.tracing.ui.archstudio"
               label="ArchStudio"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="trese.arch.tracing.ui.popup.actions.ExportGST"
               enablesFor="+"
               id="trese.arch.tracing.ui.export.gst"
               label="Export to Groove GST"
               menubarPath="trese.arch.tracing.ui.archstudio/group1">
         </action>
         <action
               class="trese.arch.tracing.ui.popup.actions.ExportGSTRestrict"
               enablesFor="+"
               id="trese.arch.tracing.ui.export.gst.restrict"
               label="Export to Groove GST (Single ArchStructure)"
               menubarPath="trese.arch.tracing.ui.archstudio/group1">
         </action>
         <visibility>
            <objectState
                  name="contentTypeId"
                  value="edu.uci.isr.archstudio4.xadlContentBinding">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>

</plugin>
