<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.ample.tracing.frontend.core.traceRegister">
      <register
            class="trese.tracing.atf.TraceRegister"
            id="trese.tracing.atf.TraceRegister"
            name="CarmeQ TraceRegister">
         <description>
            description body text
         </description>
      </register>
   </extension>
   <extension
         point="net.ample.tracing.core.repositoryProfile">
      <profile
            id="trese.tracing.atf.xadlProfile">
         <document-provider
               class="trese.tracing.atf.XadlProfileProvider">
         </document-provider>
      </profile>
   </extension>

</plugin>
