<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="edu.uci.isr.archstudio4.xadlContentBinding"
            name="xADL"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="xArch">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="trese.taf.atf.RepositoryViewModel"
            objectClass="net.ample.tracing.ui.models.RepositoryViewModel">
         <action
               class="trese.taf.atf.PrologExportAction"
               enablesFor="1"
               id="trese.taf.atf.prologExport"
               label="Export prolog facts"
               menubarPath="contextAdditions"
               style="push">
         </action>
         <visibility>
            <objectState
                  name="false"
                  value="false">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="trese.taf"
            name="TAF">
      </category>
      <view
            allowMultiple="false"
            category="trese.taf"
            class="trese.taf.atf.AtfImportExportView"
            icon="icons/view/atf-ie-view.png"
            id="trese.taf.atf.importexport.view"
            name="TAF:ATF Import/Export">
      </view>
      <view
            allowMultiple="false"
            category="net.ample.tracing.ui.views"
            class="trese.taf.atf.AtfRepositoryEntitiesView"
            icon="icons/view/atf-repo-ent.png"
            id="trese.taf.atf.repositoryentities"
            name="Repository Entities">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.ample.tracing.ui.perspectives.TracingPerspective">
         <view
               id="trese.taf.atf.importexport.view"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <viewShortcut
               id="trese.taf.atf.importexport.view">
         </viewShortcut>
         <view
               id="trese.taf.atf.repositoryentities"
               relationship="bottom"
               relative="net.ample.tracing.ui.views.RepositoryBrowser">
         </view>
         <viewShortcut
               id="trese.taf.atf.repositoryentities">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
