<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="trese.carmeq.project"
         name="CarmeQ Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="trese.carmeq.CarmeQProject">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/carmeq_obj.gif"
            id="trese.carmeq.project,icon"
            natureId="trese.carmeq.project">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="trese.carmeq.projectContrib"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="trese.carmeq.projectMenu"
               label="CarmeQ"
               path="additions">
            <separator
                  name="main">
            </separator>
         </menu>
         <action
               class="trese.carmeq.ToggleCarmeQNature"
               id="trese.carmeq.toggleNature"
               label="Add/Remove CarmeQ Nature"
               menubarPath="trese.carmeq.projectMenu/main">
         </action>
      </objectContribution>
   </extension>

</plugin>
